<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div id="logo">QueAcelga</div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.admin == true %>
          <li class="nav-item active">
            <%= link_to "Precios", edit_price_path(Price.first.id), class: "nav-links d-flex justify-content-center sm-config" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Nuevo Producto", new_product_path, class: "nav-links d-flex justify-content-center sm-config" %>
          </li>
          <li class="nav-item">
            <%= link_to "Pedidos", orders_path, class: "nav-links d-flex justify-content-center sm-config" %>
          </li>
          <% else %>
          <li>
            <%= link_to 'Mis Pedidos', myorders_path, class: "nav-links d-flex justify-content-center sm-config" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Chau", destroy_user_session_path, method: :delete, class: "nav-links d-flex justify-content-center sm-config" %>
        </li>
      <% else %>
        <li class="nav-item d-flex justify-content-center">
          <%= link_to "Entrar", new_user_session_path, class: "nav-links mr-4" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
