<% if @orders %>
  <div class="row d-flex justify-content-center w-normalize">
  <% @orders.each do |order| %>
    <div class=" col-md-3 m-4 p-4 text-white" id="order-card">
      <p><%= "Pedido de #{order.user.first_name} #{order.user.last_name}" %></p>
      <div class="mb-1">
        Pedido:
        <ul class="pl-4">
          <% order.amounts.each do |instance|%>
            <li class="">
              <%= "#{instance.amount} X #{instance.product.name}" %>
            </li> 
          <% end %>
        </ul>
      </div>
      <p>Precio total: $<%= order.total_price %></p>
      <p>Fecha: <%= (order.created_at).strftime("%d/%m/%Y") %></p>
      <p>Especificaciones: <%= order.note %></p>
      <p>Estado : <%= order.status %></p>
      <div class="d-flex justify-content-between">
        <%= link_to 'Borrar', order_path(order.id), method: :delete, :class => "delete-button" %>
        <%= link_to 'Aceptar', conftimateorder_path(order.id), method: :post, :class => "btn btn-success" %>
        <%= link_to 'Rechazar', rejectorder_path(order.id), method: :post, :class => "btn btn-danger" %>
      </div>
    </div>
  <% end %>
  </div>
<% else %>
  <div>Parece que no has echo un pedido aún =(</div>
<% end %>
