<div class="d-flex justify-content-center">
  <div id="confirmation-card">
    <div><h3 class="mt-4 p-4 text-white">¡Revisa tu pedido por favor!</h3></div>
    <div class="border-bottom">
      <% quantity = 0 %>
      <% @amounts_id_array.each do |id| %>
        <% a_instance = Amount.find_by_id(id) %>
        <% quantity += a_instance.amount if a_instance != nil %>
        <% if a_instance != nil %>
            <p class="font-style pb-1"><%= "#{a_instance.amount} de #{a_instance.product.name}." %></p>
        <% end %>
      <% end %>
    </div>
    <p class="font-style p-1"><%= "Total: $#{Amount.price_calculator(quantity)}" %></p>
    <%= simple_form_for @order do |f| %>
    <div class="d-flex justify-content-center">
      <div class="width-special"><%= f.input :note, :placeholder => "¿Algo que debamos saber?", label: false %></div>
    </div>
      <%= link_to 'Volver', root_path, :class => "button-1" %>
      <%= f.submit "¡Confirmar!", :class => "button-2" %>
    <% end %>
  </div>
</div>