<% if current_user.admin == true %>
<div class="container standar-card d-flex align-items-center justify-content-center mt-3">
  <div>
    <h1 class="text-white text-center font-weight-bold">Precios</h1>
    <%= simple_form_for [@price] do |f| %>
      <%= f.input :price_4, label: false, placeholder: "#{@price.price_4}" %>
      <%= f.input :price_8, label: false, placeholder: "#{@price.price_8}" %>
      <%= f.input :price_12, label: false, placeholder: "#{@price.price_12}" %>
      <div class="d-flex justify-content-center">
        <%= f.submit "Cambiar", :class => "button-2" %>
      </div>
    <% end %>
  </div>
</div>
<% else %>
  <h1>No tienes acceso a esta página</h1>
<% end %>