<title>Hola</title>
<div class="container">
  <% if user_signed_in? && current_user.admin == true %>
    <div class="d-flex justify-content-center">
      <div class="head-card head-sm-card head-md-card mt-5">
        ¡Que bueno verte de nuevo <%= current_user.first_name %>!
      </div>
    </div>
  <% else %>
    <div class="d-flex justify-content-center">
      <div class="head-card head-sm-card head-md-card">
        <div class="border-bottom">Pack x4 $<%= Price.first.price_4 %></div>
        <div class="slide mx-3">|</div>
        <div class="border-bottom">Pack x8 $<%= Price.first.price_8 %></div>
        <div class="slide mx-3">|</div>
        <div class="border-bottom">Pack x12 $<%= Price.first.price_12 %></div>
      </div>
    </div>
  <% end %>
  <div class="d-lg-flex justify-content-sm">
    <div class="row d-flex justify-content-center mt-3">
        <% @products.each do |product| %>
          <div class="col-lg-4 col-md-4 col-xs-1 m-3 shadow" id="product-card">
            <%= cl_image_tag product.photo.key, id: 'product-photo' %>
            <div class="text-white d-flex justify-content-center p-3"><%= product.name %></div>
            <div class="d-flex justify-content-center">
              <div  id="date-field" class="d-flex align-items-center justify-content-between">
                <div class="mr-2"><div id="rest-button" class="plus-and-less-button"><div class="text-black pb-1">-</div></div></div>
                <input id="amount-place" class="number-place border-0" type="number" value="0", min="0" readonly="readonly">
                <div class="ml-2"><div id="plus-button" class="plus-and-less-button"><div class="text-black">+</div></div></div>
              </div>
            </div>
            <%= simple_form_for @amount do |f| %>
              <div class="d-none"><%= f.input :amount, label: "cantidades" %></div>
              <div id="id_picker" class="d-none"><%= product.id %></div>
              <div class="d-none"><%= f.input :product_id, label: "product_id" %></div>
              <div class="d-flex justify-content-center mt-4">
                <%= f.submit "Agregar", :class => "add-button" %>
                <% if current_user.admin == true %>
                  <%= link_to  "borrar", product_path(product.id), method: :delete, :class => "delete-button ml-3" %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
    <div id="cart-container">
      <p class="text-center p-2 font-style">Pedido actual:</p>
      <% counter = 0 %>
      <% if @amounts_id_array != nil %>
        <% @amounts_id_array.each do |id| %>
          <% a_instance = Amount.find_by_id(id) %>
          <% counter += a_instance.amount if a_instance != nil %>
          <% if a_instance != nil %>  
            <ul>
              <li class="font-style">
                <%= "#{a_instance.amount} de #{a_instance.product.name}." %>
                <%= link_to 'Borrar', amount_path(id), method: :delete, :class => "delete-button" %>
              </li>
            </ul>  
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if counter % 4 == 0 && counter != 0 %>
    <div class="d-flex justify-content-center p-5">
      <div><%= link_to '¡Encargar!', new_order_path, :class => "send-button" %></div>
    </div>
  <% else %>
  <div class="d-flex justify-content-center">
    <div class="head-card head-sm-card head-md-card mt-5">
      ¡Tenes que encargar 4, 8, 12 o un múltiplo!
    </div>
  </div>
  <% end %>
  <!--<iframe src="http://localhost:3000/blazer" frameborder="0" class="w-100 height-test"></iframe> -->
  <%= render "queries/query", query: @query %>
</div>
